// Couleurs
$primary-blue: #112240;
$accent-orange: #C62828;
$white: #FFFFFF;
$light-gray: #F8FAFC;
$text-dark: #0F172A;
$text-gray: #dddee0;
$bg-light: #f1f5f9;
$bg-dark: #e2e8f0;

// Polices
$font-display: 'Montserrat', sans-serif;
$font-body: 'Inter', sans-serif;

// Tailles fixes
$max-width: 1140px;
$radius: 20px;
